/**
 * {{pascalCase name}} component
 * 
 * Props:
 * - className?: string - Additional CSS classes
 */

interface {{pascalCase name}}Props {
  className?: string;
}

export function {{pascalCase name}}({ className }: {{pascalCase name}}Props) {
  return (
    <div className={className}>
      <h2>{{pascalCase name}} Component</h2>
      <p>Your component content goes here.</p>
    </div>
  );
}

export default {{pascalCase name}};
